@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

body{
    overflow-x: hidden;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(img/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;   
    justify-content: space-between;
    align-items: center; 
    
}

/*Make the img smaller*/
nav img{
    width: 150px;
}

.nav__links{
    flex: 1;
    text-align: right;
    
}

.nav__links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1em 1.33em;
    position: relative;
    
}

.nav__links ul li a{
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

/*Effect of active and hover in anchors*/
.nav__links ul li::after{
    content: '';
    /*With 0% the pseudoelement is HIDDEN*/
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav__links ul li:hover::after{
    width: 100%;
}

.text__box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text__box h1{
    font-size: 3.875rem;
}

.text__box p{
    margin: 0.625em 0 2.5em;
    font-size: 0.875rem;
    color: white;
}

.hero__btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 0.75em 2.125em;
    font-size: 0.8125em;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.hero__btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
}

nav .fas{
    display: none;
}

/*---------------------Course-----------------------*/

.course{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 6.25em;
}

h2{
    font-size: 2.25em;
    font-weight: 600;
}

p{
    color: rgb(139, 139, 139);
    font-size: 0.875em;
    font-weight: 300;
    line-height: 22px;
    padding: 0.6875em;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course__col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 0.625em;
    margin-bottom: 5%;
    padding: 1.25em 0.75em;
    transition: 0.5s;
}

.course__col:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 0.625em;
}

/*---------------------CAMPUS-----------------------*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 3.125em;
}

.campus__col{
    flex-basis: 32%;
    border-radius: .625em;
    margin-bottom: 1.875em;
    position: relative;
    /*Don't show all the col*/
    overflow: hidden;
}

.campus__col img{
    max-width: 100%;
    /*With display all the corners round*/
    display: block;
}

.layer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226, 0, 0, 0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 1.625em;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-54%);
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*---------------------FACILITIES-----------------------*/

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 6.25em;
}

img{
    max-width: 100%;
}

.facilities__col{
    /*It seems like margin or padding but using flex properties*/
    flex-basis: 31%;
    border-radius: 0.625em;
    margin-bottom: 5%;
    text-align: left;
}

.facilities__col img{
    border-radius: .625em;
}

.facilities__col p{
    padding: 0;
}

.facilities__col h3{
    text-align: center;
}

/*---------------------STUDENTS SAY-----------------------*/

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 6.25em;
    text-align: center;
}

.testimonial__col{
    flex-basis: 44%;
    border-radius: .625em;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 1.5625em;
    cursor: pointer;
    display: flex;
}

.testimonial__col img{
    height: 2.5em;
    margin-left: 0.3125em;
    margin-right: 1.875em;
    border-radius: 50%;
}

.testimonial__col p{
    padding: 0;
}

.testimonial__col h3{
    margin-top: 0.9375em;
    margin-left: 0;
    text-align: left;
}

.testimonial__col .fas, .far{
    color: rgb(247, 72, 72);
}

/*---------------------CALL TO ACTION-----------------------*/
.cta{
    margin: 6.25em auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0.625em;
    padding: 6.25em;
    text-align: center;
    padding: 6.25em 0;
}

.cta h2{
    color: white;
    margin-bottom: 2.5em;
    padding: 0;
}

/*---------------------FOOTER-----------------------*/
.footer{
    background-image: linear-gradient(rgba(24,30,48,1),rgba(24,30,48.7));
    width: 100%;
    text-align: center;
    padding: 1.875em 0;
}

.footer h4{
    color: #fff3f3;
    font-size: 1.5rem;
    margin-bottom: .5625em;
    font-weight: 600;
}

.footer p{
    color: #c7c7c7;
}

.icons .fab{
    color: #f44336;
    font-size: 2rem;
    margin: 0 0.8125em;
    padding: 1.125em 0;
    cursor: pointer;
    transition: 0.5s;
}

.icons .fab:hover{
    color: #e9d0ce;
}

@media(max-width: 700px){

    body{
        overflow-x: hidden;
    }

    .text__box h1{
        font-size: 1.25em;
    }

    .nav__links ul li{
        display: block;
    }

    .nav__links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        /*This "hide" the element or just move it to the right*/
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    nav .fas{
        display: block;
        color: white;
        margin: 1em;
        font-size: 1.375em;
        cursor: pointer;
    }

    .nav__links ul{
        padding: 1.875em;
    }

    .row{
        flex-direction: column;
    }

    .testimonial__col img{
        margin-left: 0;
        margin-right: .9375em;
    }

    .cta h2{
        font-size: 1.5em;
    }
}